process {
    withName:prodrugz {
        executor='slurm'
        queue="${params.queue}"
        cpus=1
        memory='20GB'
        time='1h'
        container = "${params.image_folder}drugz-eb15d34.sif"
        containerOptions = "${params.extra_mounts} -B ${params.output_drugz}:${params.output_drugz} -B ${params.ouput_mageck_count}:${params.ouput_mageck_count}"
    }
}

